body{
    background-color: rgb(22, 33, 43);
    
}

.nav-text-size{
    font-size: 1.5rem;
}

.big-name{
    font-size: 3.5rem;
}

.big-icons{
    font-size: 75px;
}

.med-icons{
    font-size: 50px;
}

.purple-icon{
    color: #7532F9;
}

.orange-icon{
    color: #F26700;
}

.no-dec{
    text-decoration: none;
}

.blue-icon{
    color: #1F8EE7;
}

.pink-icon{
    color: #C66394;
}

.yellow-icon{
    color: #EAD41C;
}

.google-icon{
    color: #3F7EE8;
}

.git-logo{
    color: #E94E31;
}

.title-font{
    font-family: 'Archivo Black', sans-serif;
}

.p-font{
    font-family: 'Varta', sans-serif;
}

.nav-bg-color{
    background-color: rgb(22, 33, 43);
}